target/
.classpath
.project
.settings/
.svn/
classes/
lib/
.externalToolBuilders/
*.iml
.idea/
.ssd
.compiled/
bin/
build/
prd/
/**/dependency-reduced-pom.xml
/**/*.iml
backend/src/main/resources/cassandra_prod.properties
backend/src/main/resources/redis_prod.properties
frontend-api/src/resources/config_prod.properties
spark-warehouse/
