<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>com.caiyi.financial.nirvana.discount.filter.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PrivilegeFilter</filter-name>
        <filter-class>com.caiyi.financial.nirvana.discount.filter.PrivilegeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrivilegeFilter</filter-name>
        <url-pattern>/credit/sendSms.go</url-pattern>
        <url-pattern>/credit/checkSms.go</url-pattern>
        <url-pattern>/credit/getBankBill.go</url-pattern>
        <url-pattern>/credit/sendSms2.go</url-pattern>
        <url-pattern>/credit/checkSms2.go</url-pattern>
        <url-pattern>/credit/bankVerifyCode2.go</url-pattern>
        <url-pattern>/credit/getBankBill2.go</url-pattern>
        <url-pattern>/credit/deleteBill.go</url-pattern>
        <url-pattern>/credit/billInfoByMail.go</url-pattern>
        <url-pattern>/credit/updateBillInfoByMail.go</url-pattern>
        <url-pattern>/credit/mailLogin.go</url-pattern>
        <url-pattern>/credit/qCreditTransaction.go</url-pattern>
        <url-pattern>/credit/qUserCardinfo.go</url-pattern>
        <url-pattern>/credit/billConsumeInfo.go</url-pattern>
        <url-pattern>/credit/zxVerifyCode.go</url-pattern>
        <url-pattern>/credit/zxLogin.go</url-pattern>
        <url-pattern>/credit/zxGetQuestions.go</url-pattern>
        <url-pattern>/credit/zxApplyReport.go</url-pattern>
        <url-pattern>/credit/zxViewReport.go</url-pattern>
        <url-pattern>/credit/zxCheckIdentity.go</url-pattern>
        <url-pattern>/credit/zxCheckRegLoginnameHasUsed.go</url-pattern>
        <url-pattern>/credit/zxGetAcvitaveCode.go</url-pattern>
        <url-pattern>/credit/zxRegistered.go</url-pattern>
        <url-pattern>/credit/queryUserCreditreFerence.go</url-pattern>
        <url-pattern>/credit/zxGoToResetPwd.go</url-pattern>
        <url-pattern>/credit/zxGetResetAcvitaveCode.go</url-pattern>
        <url-pattern>/credit/zxGetResetQuestions.go</url-pattern>
        <url-pattern>/credit/zxApplyResetPwd.go</url-pattern>
        <url-pattern>/credit/zxLoginOut.go</url-pattern>
        <url-pattern>/credit/wechatMsg_action.go</url-pattern>
        <url-pattern>/credit/coll_wechat_Msg_list.go</url-pattern>
        <url-pattern>/credit/checkEmailCode.go</url-pattern>
        <url-pattern>/credit/getEmailCode.go</url-pattern>
        <url-pattern>/credit/getEmailBill.go</url-pattern>
        <url-pattern>/credit/changeRepaymentStatus.go</url-pattern>
        <url-pattern>/credit/countApply.go</url-pattern>
        <url-pattern>/credit/lendApply.go</url-pattern>
        <url-pattern>/credit/lendProgress.go</url-pattern>
        <url-pattern>/credit/lendProgressDetail.go</url-pattern>
        <url-pattern>/credit/lendCity.go</url-pattern>
        <url-pattern>/credit/cancelLendApply.go</url-pattern>
        <url-pattern>/user/chgNickName.go</url-pattern>
        <url-pattern>/user/bankFocus.go</url-pattern>
        <url-pattern>/user/cheapCollect.go</url-pattern>
        <url-pattern>/user/sendForgetPwdYzm.go</url-pattern>
        <url-pattern>/user/modifyUserInfo.go</url-pattern>
        <url-pattern>/user/queryUserAccount.go</url-pattern>
        <url-pattern>/user/cheapCollectAdd.go</url-pattern>
        <url-pattern>/user/cheapCollectDel.go</url-pattern>
        <url-pattern>/user/doPraise.go</url-pattern>
        <url-pattern>/user/dataMerge.go</url-pattern>
        <url-pattern>/user/qCollectList.go</url-pattern>
        <url-pattern>/user/qCollectInfo.go</url-pattern>
        <url-pattern>/user/expiredCollect.go</url-pattern>
        <url-pattern>/user/cooperationUserBind.go</url-pattern>
        <url-pattern>/control/*</url-pattern>
        <url-pattern>/credit/mergerDecoration.go</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc-servlet.xml</param-value>
        </init-param>
        <init-param>
            <param-name>spring.profiles.active</param-name>
            <param-value>${profiles.activation}</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>